$darkBlue: rgb(30, 100, 133);
$brightBlue: rgb(112, 235, 237);
$lightBlue: rgb(197, 253, 254);
$whiteColor: rgb(255, 255, 255);
$activeColor: rgb(162, 214, 199);
$deleteColor: rgb(247, 84, 84);

$headerFont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$bodyFont: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
